.container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}

.image-enter {
    opacity: 0.01
}

.image-enter.image-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.image-leave {
    opacity: 1;
}

.image-leave.image-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-out;
}
